/* Aufgabenstellung

Für diese Übung erstellen wir ein Anmeldeformular mit den folgenden Elementen:

Name, Surname, Email, Gender (male/female), Picture, Country (Germany,France,USA), Preferred languages (HTML, CSS, JS, React), Fields of activity (IT, Design, Other)


Erstelle das Formular mit den passenden HTML5-Elementen, wie zum Beispiel:

Für Name:
<input type=”text” placeholder=“Name”/>

Für Country:
<label>Country</label>
<select>
<option>Germany</option>
	<option>Spain</option>
	<option>France</option>
	</select>
	<select multiple="multiple">  -> Für mehrere elemente
<option>HTML</option>
	<option>CSS</option>
	<option>JS</option>
	</select>
 */
/* Hinweise

In dieser Übung können wir HTML5-Elemente verwenden, um das Formular besser zu strukturieren.

Hier sind ein paar HTML5-Elemente, die du verwenden kannst:

<form>
<fieldset>
<legend>
<label>
<input type="email" />
...
 */

* {
  margin: 0;
  padding: 0;
}
html {
  padding: 2.3rem;
}
.btn {
  border-radius: 1.1rem;
  margin-top: 10px;
  padding: 3px 5px;
  width: 3rem;
}
fieldset {
  padding: 1.3rem;
  width: 36.3rem;
}
